
<span class="gist-license">
  <a href="http://opensource.org/licenses/mit-license.html" target="_blank">
    MIT License
  </a>
</span>

<span class="transition-actions actions">
  {{#unless env.user}}
  You must
  <a class="github connect" href="/authenticate">
    Connect with <i class="fa fa-github"></i> Github
  </a>
  for creating content.
  {{/unless}}
  {{#if isRootOrMyGist}}
  {{#if env.user}}
  {{#unless isPublished}}
  {{#if isMyGist}}
  <a href="#" class="publish-transition action primary"><i class="if-active fa fa-circle-o-notch fa-spin"></i><i class="if-not-active fa fa-cloud-upload"></i> Publish</a>
  {{/if}}
  {{/unless}}
  <a href="#" class="save-transition action primary"><i class="if-active fa fa-circle-o-notch fa-spin"></i><i class="if-not-active fa fa-cloud-upload"></i>
    {{#if isRootGist}}Create a new Gist{{else}}Save{{/if}}</a>
  <span class="save-state status"></span>
  {{/if}}
  {{/if}}
</span>

<span class="gist-infos">
  <a class="open-gist transition-name" target="_blank" href="https://gist.github.com/{{ gist.owner }}/{{ gist.id }}">
    {{#if isRootGist}}
    This is the <i class="fa fa-github"></i> transition template.
    {{else}}{{#if isPublished}}
    <i class="fa fa-github"></i> {{ gist.name }}
    {{else}}
    <i class="fa fa-github"></i> Gist
    {{/if}}{{/if}}
  </a>
  {{#unless isRootGist}}
  by <a target="_blank" href="https://gist.github.com/{{ gist.owner }}">{{ gist.owner }}</a>
  {{/unless}}
</span>
